﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/movmen.js")
    @Scripts.Render("~/Scripts/MesAno.js")
    @Scripts.Render("~/Scripts/produtos.js")
    <style>
        input, select, textarea {
            max-width: 100% !important;
        }
    </style>

</head>
<body>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My Test for BNB</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
        $(document).ready(function () {
            GetMovimentacoes();
            LoadYears();
            LoadMonths();
            GetProdutos();
            GetProdutosCosif();
        });
    </script>
</body>
</html>
