﻿<div class="jumbotron">
    <h1>Movimento Manual</h1>
</div>
<div class="jumbotron">
    <form class="form-group-lg">
        <div class="form-group">
            <label for="monthpicker">Mês</label>
            <select class="form-control" id="monthpicker"></select>
            <label for="yearpicker">Ano</label>
            <select class="form-control" id="yearpicker"></select>
        </div>
        <div class="form-group">
            <label for="produtopicker">Produto</label>
            <select class="form-control" id="produtopicker"></select>
            <label for="produtocosifpicker">Cosif</label>
            <select class="form-control" id="produtocosifpicker"></select>
        </div>
        <div class="form-group">
            <label for="valor">Valor $</label>
            <input type="number" id="valor" class="form-control" id="quantity" name="quantity" step="0.01" value="0.00" min="0.01" required/>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control textarea" id="descricao" required/>
        </div>

        <button type="reset" class="btn btn-warning">Limpar</button>
        <button class="btn btn-primary" onclick="BuildObjetc();">Incluir</button>
    </form>
</div>

<div class="row">
    <table class="table" id="movimentacoes">
        <thead>
            <tr>
                <th scope="col">Mês</th>
                <th scope="col">Ano</th>
                <th scope="col">Código Produto</th>
                <th scope="col">Descrição Produto</th>
                <th scope="col"># Lançamento</th>
                <th scope="col">Descrição</th>
                <th scope="col">Valor</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
